html {
  background-image: -webkit-linear-gradient(330deg, #fdfbfb 0%, #ebedee 100%);
  background-image: -o-linear-gradient(330deg, #fdfbfb 0%, #ebedee 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  height: 90vh;
  color: #293c4b;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.player-score-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player-score {
  font-size: 4em;
}

.player-score-button {
  width: 75px;
  height: 75px;
  border: 1px solid #293C4B;
  border-radius: 40px;
  font-size: 30px;
}

.options-container {
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  width: 280px;
  justify-content: space-around;
}

.reset-button, .scores-button, .dice-roll-button {
  display: block;
  border: 1px solid #293C4B;
  border-radius: 2px;
  width: 100px;
  height: 35px;
  font-weight: bold;
  font-size: 20px;
}

.rotate {
  transform: rotate(180deg);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #293C4B;
  user-select: none;
}

/* die faces */

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .pip:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}
  
.third-face .pip:nth-of-type(2) {
  align-self: center;
}

.third-face .pip:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face, .sixth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .column, .sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face {
  display: flex;
  justify-content: space-between;
}
  
.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.face {
  margin: 16px;
  padding: 4px;
  
  background-color: #e7e7e7;
  width: 104px;
  height: 104px;
  object-fit: contain;
  
  box-shadow:
    inset 0 5px white, 
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7, 
    inset -5px 0 #d7d7d7;
  
  border-radius: 10%;
}

.pip {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;

  background-color: #293C4B;
  box-shadow: inset 0 3px #1C2933, inset 0 -3px #555;
}